TEST=false
CONTAINER_NAME=ganache
DOCKER_FILE=dockerfiles/Dockerfile.nodejs
COMMAND=./run_node.sh
DOCKER_IMAGE=debian:latest
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./volume
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
GANACHE_PORT=8545
GANACHE_ADDRESS=0.0.0.0
GANACHE_NETWORK_ID=1337